[Unit]
Description=Window control station service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/sbin/wincon
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
